/* Tailwind v4 的入口指令变了，不再是 @tailwind base... */
@import "tailwindcss";

/* 解决 AntD 与 Tailwind Preflight 的冲突 */
/* AntD 的按钮有时会被 Tailwind 的 Reset 样式覆盖背景色，这里手动修复一下 */
@layer base {
  button {
    background-color: transparent; /* 默认重置 */
  }
}

body {
  background-color: #f0f2f5;
}